---
layout: job_page
title: "Head of Product"
---

The Head of Product reports to the CEO.

## Responsibilities

- Lead product on continuous integration, delivery, and deployment, and Prometheus monitoring
- Create an attractive roadmap (direction) for CI/CD and monitoring
- Work together with the VP of Product and other stakeholders ensuring that
  CI/CD and monitoring are deeply integrated parts of GitLab
- Handle feature proposals from customers and the rest of the community related to CI/CD and monitoring
- Work together with PMs and Leads to deliver a stable, enticing offering
- Make sure that CI/CD is well documented, with examples for most common use cases and programming languages
- Work together with marketing (senior product marketing manager) to show off our CI/CD offering on our website
- Ensure the success of CI/CD and monitoring by filling in any gaps such as writing product announcements and blog posts


<%= partial "includes/apply_and_about" %>