---
layout: feature
title: GitLab Portfolio Management
suppress_header: true
extra_css:
  - gitlab-feature-landing-page.css
  - features.css
---
.wrapper.gitlab-ee-page
  = partial "includes/features/gitlab-ee-nav"
  .image-title
    .color-bg
      %div
        %h1 GitLab Portfolio Management: Upcoming features
  .sub-wrapper
    .container
      .row#overview
        .col-xs-12.col-md-10.col-md-offset-1
          %h2 2018H1 Advanced epics integrated with roadmaps
          %p
            :markdown
              - Advanced epics supporting discussions, subscriptions, and integration with issues.
              - Integration with roadmaps.
              - Labeling.
          %h2 2018H1 Capacity and resource management
          %p
            :markdown
              - Plan / estimate team capacity by using groups.
              - Groups and subgroups to represent teams.
              - Assign people hours/days/time unit as a capacity measure. Associate with entire team or individual team member.
              - Allocate team members to issues and epics over time.
              - Integrate with roadmap view to see projected completion time. Track in real time results.
          %h2 2018H1 Time tracking and work management
          %p
            :markdown
              - Improve existing time tracking feature in issues.
              - Expand to epics and integrate with epics.
              - Reporting on time tracking.
              - Integrate with roadmap view to see past results and future projected results.
              - Integrate with capacity and resource management.
          %h2 2018H2 Code release management
          %p
            :markdown
              - Manage code releases.
              - Support release notes.
              - Integrate with issues, epics, merge requests, and milestones.
              - View code releases in the roadmap view.
              - View epics and issues contributing to code releases
          %h2 2018H2 Granular and flexible work breakdown structure
          %p
            :markdown
              - Support granular and flexible work breakdown structure for issues and epics.
              - Have epics of epics, i.e. sub-epics (nested epics).
              - View and manage epics and issues at the group level.
              - Navigate back up to higher abstraction (higher-level epics, starting all the way at the leaf node (an issue)).
              - Integrate with roadmap view to quickly expand/collapse tree structures.
          %h2 2018H2 Risk management
          %p
            :markdown
              - Manage risk of epics not being completed on time.
              - Indicate how at risk an epic is at for not meeting the deadline, based on integration with capacity and resource management features.
              - Dashboards and notifications to surface risky projects/groups/epics.
          %h2 2019H1 What-if scenario planning
          %p
            :markdown
              - Visualize potential impact in the overall portfolio if you were to make a change, without actually persisting the change.
              - If risk management features are telling you that you are falling behind in a particular epic, provide features to do a what-if re-allocation of resources to see what would be the impact.
              - Deep integration with time tracking also to get the data.
              - Integration with roadmap view to see the changes.
